/Library
/Logs
/Temp
Assets/Textures/Texture_Robot/T_Robot_lowpoly_standardSurface2_AlbedoTransparency.1001.png
Assets/Textures/Texture_Robot/T_Robot_lowpoly_standardSurface2_Emission.1001.png
Assets/Textures/Texture_Robot/T_Robot_lowpoly_standardSurface2_AlbedoTransparency.1001.png.meta
Assets/Textures/Texture_Robot/T_Robot_lowpoly_standardSurface2_Emission.1001.png.meta
Assets/Textures/Texture_Robot/T_Robot_lowpoly_standardSurface2_MaskMap.1001.png
Assets/Textures/Texture_Robot/T_Robot_lowpoly_standardSurface2_MaskMap.1001.png.meta
Assets/Textures/Texture_Robot/T_Robot_lowpoly_standardSurface2_Normal.1001.png
Assets/Textures/Texture_Robot/T_Robot_lowpoly_standardSurface2_Normal.1001.png.meta
